* {
  margin: 0;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

button {
  font-family: 'Roboto Mono';
  font-style: bold;
  background-color: #ffffff;
  color: #000000;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.02);
}


.NavBar {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: calc(10px + 2vmin);
  padding: 0.5em;
}

.NavButtons {
  display: flex;
  gap: 20px;
}

.NavButtons > button:hover {
  background-color: #9ffcf7;
  color: #000000;
  transform: scale(1.02);
}

.Button {
  background-color: #45af64;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 8px;
}

.Post-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  margin: 20px;
  padding: 20px;
  padding-right: 30px;
}

.NewPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1d4f8c;
  padding: 20px;
  border-radius: 10px;
  min-width: 20vw;
}

textarea {
  height:  6em;
  width: 50vw;
  border: none;
  border-radius: 4px;
}

.NewPost-Buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-self: self-end;
}

.NewPost-Buttons > button {
  height: 2.5em;
  width: 10vw;
  min-width: max-content;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Post {
  display: flex;
  flex-flow: column wrap;
  background-color: #1d4f8c;
  max-width: 50vw;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  font-size: 20px;
}

.Post > div {
  font-family: 'Menlo Regular';
  font-size: 12px;
  color: #b6b8b3;
}

.Post-Text {
  padding: 3px 0 0 5px;
}